body {
    background-color: #2F3136;
    color: #E0E0E0;
}

.content-wrapper {
    margin: 0.8rem;
}

li {
    list-style: none;
}

a {
    color: #E0E0E0;

    &:hover {
        text-decoration: none;
    }
}

h2, h3 {
    margin: 0rem 1rem;
}

p {
    margin: 1rem;
    font-size: 16px;
}

h3 {
    border-bottom: 1px solid #0A6F64;
    margin-top: 10px;
    margin-bottom: 10px;
}